@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

body {
  background-image: url('../db/images/doodles.png');
}

.hide {
  display: none;
}

.header-text {
  font-family: 'Carter One', cursive;
  font-size: 3em;
  text-align: center;
}