#pin-section {
  display: flex;  
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
}

.pin-header {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

#back-to-boards {
  margin-bottom: 1em;
}

#add-pin-button {
  margin-bottom: 1em;
}

.pin-radios {
  margin-left: 2em;
}